<article class='page rhythm'>
  <header class='page-header'>
    <h1><%= post.title %></h1>
    <nav>
      <%= journal_post_breadcrumbs(post, '/') %>
    </nav>
  </header>

  <section class='page-body'>
    <%= post.body_html.html_safe %>
  </section>
</article>