<article class='journal-page'>
  <section class='journal-index-item'>
    <% featured_post = @posts.first %>
    <%= render partial: 'post', locals: { post: featured_post, body: featured_post.excerpt_html } %>
  </section>
</article>

<%= render partial: 'archive', locals: { posts: @posts, except_post: featured_post } %>