<% set_meta_tags  :title => @post.title %>

<article class='journal-page'>
  <%= render partial: 'post', locals: { post: @post, body: @post.body_html } %>
</article>

<% if @disqus_shortname %>
  <div class='journal-comments'>
    <%= render partial: 'disqus' %>
  </div>
<% end %>