<% content_meta_tags @post %>

<article class='journal-page'>
  <%= render partial: 'post', locals: { post: @post, body: @post.body_html } %>
</article>

<% if @disqus_shortname %>
  <div class='journal-comments' style='display:none;'>
    <div id='disqus_thread' class='journal-disqus' data-shortname='<%= @disqus_shortname %>'></div>
  </div>
<% end %>

<%= render partial: 'archive', locals: { posts: @posts, except_post: @post } %>
