<% set_meta_tags title: @post.meta_title,
                 description: @post.meta_description,
                 keywords: @post.meta_keywords,
                 og: { title: @post.meta_title,
                       description: @post.meta_description,
                       type: 'article',
                       image: @post.opengraph_image_url } %>

<article class='journal-page'>
  <%= render partial: 'post', locals: { post: @post, body: @post.body_html } %>
</article>

<% if @disqus_shortname %>
  <div class='journal-comments' style='display:none;'>
    <div id='disqus_thread' class='journal-disqus' data-shortname='<%= @disqus_shortname %>'></div>
  </div>
<% end %>

<%= render partial: 'archive', locals: { posts: @posts, except_post: @post } %>