/* Desktop ----------------------------------------------------------------- */
@media #{$desktop} {
  .list.journal {
    right : 0;
    left  : initial;
  }

  .journal .list.list-aside {
    right : 22em;
    left  : 0;
  }

  .list.journal .header .title {
    line-height : 2.95;
    font-size   : .9em;
  }

  .list.journal .icon-folder {
    display : none;
  }

  .journal .list.list-aside .back {
    display : none;
  }
}
