.journal-post-hidden .item-title:after {
  font-weight : $light;
  font-size   : .9em;
  content     : ' — Draft';
}

.journal-post-published-at {
  font-weight : $light;
  font-size   : .9em;
  float       : right;
}

/* Tablet ----------------------------------------------------------------- */
@media #{$tablet} {
  .journal .list.list-aside .item:hover {
    .item-title {
      color : $positive-color;
    }
  }
}