/* Preview ----------------------------------------------------------------- */
.header .preview {
  right: 4em;
  .fa {
    @include position(relative, null null -2px null);
  }
}

/* Desktop ----------------------------------------------------------------- */

@media #{$desktop} {
  .group.settings,
  .group.editor {
    max-width        : 40em;
    margin           : 0 auto;
  }

  .group.settings {
    .form-input {
      padding-right : 0;
    }
  }

  .group.editor {
    .input-title {
      font-weight : $medium;
      &.error:after {
        background-color : $assertive-color;
      }
    }

    .input-title, .input-body_markdown {
      padding-top : .9em;
      .label {
        display : none;
      }
    }
  }

  .module.journal {
    .view-delete {
      margin-top: 15em;
    }
  }
}