.group-editor {
  min-height: 16em;
  background-color: $white-color;

  .input-title {
    @include no-bottom-border;
    padding-bottom: 0;
    font-weight: $medium;

    &.error:after {
      background-color: $assertive-color;
    }
  }

  .input-title, .input-body_markdown {
    padding-top: 1em;
    .label {
      display: none;
    }
  }
}

/* Preview ----------------------------------------------------------------- */
.header .link-view,
.header .link-preview {
  @include header-icon-base;
  right: 3.5em;
}

/* Tablet ------------------------------------------------------------------ */
@media #{$tablet} {
  .header .link-preview,
  .header .link-view {
    .fa { @include position(relative, null null -2px null); }
    right: 4em;
    width: auto;
  }
  .header .link-view:after { content: 'View'; }
  .header .link-preview:after { content: 'Preview'; }
}
