.posts.list .item-title {
  font-size: .9em;
  line-height: 1.5;
}

.posts.view-new {
  .input-_slug {
    display: none;
  }
}

.posts.view-content-draft {
  .input-hidden {
    @include no-bottom-border;
  }
  .input-featured,
  .input-published_at {
    display: none;
  }
}

/* Tablet ----------------------------------------------------------------- */
@media #{$tablet} {
  .list.posts,
  .list.pages {
    width: initial;
    background-color: $bg-color;

    .header {
      background-color: $bg-color;
    }

    .items {
      padding-top: 1.5em;
    }

    .item {
      @include no-bottom-border;
      background-color: $white-color;
      box-shadow: 0 0 1px rgba(0,0,0,0.15);
      margin: 0 auto;
      max-width: 44em;
    }
  }

  .view.pages,
  .view.posts {
    left: -9em;
  }
}

/* Desktop ----------------------------------------------------------------- */
@media #{$desktop} {
  .view.pages,
  .view.posts {
    left: -10em;
  }
}
